section.filters {
	width: 100%;
	height: 70px;
	background-color: white;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	display: flex;
	position: relative;
	flex-wrap: wrap;
	align-items: center;

}
.filters button {
	font-size: 18px;
	background-color:  #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border: navajowhite;
	border-radius: 4px;
	position: absolute;
	right: 30px;
}
.filters button:hover {
	opacity: 90%;
}
.filters .locations,
.filters .amenities{
	height: 100%;
	width: 25%;
	padding: 10px 25px;
	box-sizing: border-box;
}
.filters .locations{
	border-right: 1px solid #DDDDDD;
}
.locations h3,
.amenities h3{
	margin : 0;
	margin-bottom: 5px;
	font-weight: 600;
}
.locations h4,
.amenities h4{
	margin: 0;
	font-weight: 400;
	font-size: 14px;
}
